
/************************************************* public ************************************************/

body{
    background: url("../includes/images/43.jpg") no-repeat fixed;
    background-size: cover;
    position: relative;
}
body:before{
    /*content: '';*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    height: auto;
}

/*scroll bar*/
::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
    background:rgba(224, 221, 221, 0.8);

}
::-webkit-scrollbar-track {
    border:inset 1px solid rgb(233, 230, 230);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 12px rgb(188, 155, 188); 
    background:rgba(109, 109, 109,.3);
}

a {
    color: black;
}
p{
    margin-bottom: 0 !important;
}
.pt-6{
    padding-top: 4rem !important;
}
i{
    padding-left: .5rem;
}
a:hover{
    text-decoration: none;
}
.btn-3{
    font-size: 11px !important;
    font-weight: 600;
    border-radius: 4px;
    padding: 0 10px;
    color:white !important;
    transition-duration: .3s;
}
.btn-3:hover{
        /*background-color: #a35bf0;*/
    }
.scroll{
    overflow: scroll;
    min-width: 360px;
}
.tbl-scroll{
    overflow: scroll;
}
.min-150{
    min-width: 150px !important;
}
.min-80{
    min-width: 80px !important;
}
.min-190{
    min-width: 190px !important;
}
#bio{
    min-height: 180px;
}
.tbl-small{
    font-size: 12px !important;
    font-weight: 300 !important;
}
.tbl-small a{
    font-size: 11px !important;
    font-weight: 400 !important;
    border-color: gray;
    color:rgb(97, 93, 93);
}
.tbl-small td{
    padding: 6px;
}
.btn-vsm{
    font-size: 11px !important;
    font-weight: 500 !important;
    padding: 2px 4px !important;
    margin-bottom: 1px !important;
}
.list-item.active {
    border-color: lightgrey;
}
.margin-auto{
    margin: 10px auto !important;
}
ul.pagination a{
    color: grey ;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #bbccdb;
    border-color: #9dabb8;
}
.page-item.disabled .page-link {
    color: #d0d0d0 !important;
}
.overflow-scroll-x{
    overflow-x: scroll;
    padding-right: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}
.overflow-scroll{
    overflow-y: scroll;
}
#cats-container{
    border:1px solid #e1e1e1;
}
#cats-container label{
    display: block !important;
}
.shifttoleft1, .shifttoleft2, .shifttoleft3, .shifttoleft4, .shifttoleft5{
    padding-right: 30px !important;
    transition-duration:.2s !important;
}
.shifttoleft1:hover, .shifttoleft2:hover, .shifttoleft3:hover, .shifttoleft4:hover, .shifttoleft5:hover{
    background-color: rgba(71, 163, 164, 0.1);
}
.shifttoleft1{
    background-color: rgba(133, 133, 133, 0.1);
    border-right: 4px solid #47a3a4;
}
.shifttoleft2{
    margin-right: 30px;
}
.shifttoleft3{
    margin-right: 80px;
}
.shifttoleft4{
    margin-right: 100px;
}
.shifttoleft5{
    margin-right: 120px;
}
ul{
    list-style-type: none;
    text-align: right;
}
#categories option{
    font-size: 11px !important;
    font-weight: 500;
}
.avatar-img{
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width:100%;
    height:100%;
    border-radius: 50%;
}
.success-res{
    padding: 5px;
    padding-right: 20px;
    box-shadow: 0 15px 20px -15px #666363;
    margin: 35px 0 !important;
    text-align: right;
    background-color:white;
    border-right: 6px solid #4ab142;
    animation: change_back_green 3s linear 3;
}
.failure-res{
    padding: 5px;
    padding-right: 20px;
    box-shadow: 0 15px 20px -15px #858181;
    margin: 35px 0 !important;
    text-align: right;
    background-color:white;
    border-right: 6px solid #c74d4d;
    animation: change_back_red 3s linear 3;
}
@keyframes change_back_purple {
    from {
        background-color: #ffffff;
    }
    40% {
        background-color: #ead8f5;
    }
    50% {
        background-color: #ead8f5;
    }
    to {
        background-color: #ffffff;
    }
}
@keyframes change_back_red {
    from {
        background-color: #ffffff;
    }
    40% {
        background-color: #f5c1c1;
    }
    50% {
        background-color: #f5c1c1;
    }
    to {
        background-color: #ffffff;
    }
}
@keyframes change_back_green {
    from {
        background-color: #ffffff;
    }
    33% {
        background-color: #bbfab6;
    }
    66% {
        background-color: #bbfab6;
    }
    to {
        background-color: #ffffff;
    }
}

.btn-upload {
    height: 40px !important;
    font-family: Vazir-Light;
    font-size: 14px;
    color: #ffffff !important;
    background-color: #47a4a5;
    border-radius: 4px;
    padding: 0 20px;
    cursor: pointer;
    line-height: 40px;
    transition-duration: .2s;
}
.btn-upload:hover {
    background-color: #388182;
}
#post-img-upload-status {
    margin-right: 20px;
}
#pic-res-i {
    padding: 5px;
    display: block;
}
#upload-res-text ,#pic-res-text{
    display: inline-block;
    padding: 6px;
    font-size: 13px;
    font-weight: 400;
    vertical-align: top;
}
.processing-spinner {
    margin: 6px;
    margin-right: 40px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid lightgrey;
    margin-left: 10px;
    border-right: 3px solid rgb(56, 129, 130);
    border-left: 3px solid rgb(56, 129, 130);
    animation: loading 1s linear infinite;
}
.processing-spinner#pic-res-i{
    margin: 15px auto;
}
/*ck editor*/
.ck-content, .ck-content *{
    direction: rtl !important;
}
.b-homa{
    font-family: bhoma !important;
    font-size: 18upload-pic-realpx !important;
    color: #797979;
}

/************************************************   body   ***********************************************/

#topbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10000;
    width: 100%;
    padding: 2px 16px;
    font-weight: 200;
    font-size: 13px;
    color: white;
    background-color: rgb(72, 7, 90);
}
#wrapper{
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding-top: 24px;
    min-height: 101vh;
}
#left{
    position: relative;
    width: 74%;
    background-color: #f6f7f7;
    box-shadow: 0 0 1px 1px lightgrey;
    font-size: 14px;
    padding: 2rem .5rem;
    padding-top: 40px !important;
    margin: 55px 0px !important;
    margin-right: 23% !important;
    border-radius: 4px;
    min-height: 80vh;
}
    #left .statusbar{
        position: absolute;
        top: -28px;
        right: 1%;
        background-color: #ebefef;
        padding: 2px 10px;
        border-radius: 4px;
        box-shadow: 0 10px 15px -10px rgba(30, 0, 30, 0.4);
    }
    #left .img-btn{
        position: absolute;
        top: 8px;
        left: 1%;
        font-size: 13px !important;
        padding: 5px 15px;
        border-radius: 4px;
        box-shadow: 0 10px 15px -10px rgba(30, 0, 30, 0.4);
    }
        #left .statusbar-p{
            font-size: 18px;
            font-weight: 500;
            line-height: 2.5;
            padding: 20px;
        }

#right{
    position: fixed;
    margin: 5px 20px auto;
    padding-top: 20px;
    width: 18%;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f7f7;
    box-shadow: 0 0 25px -10px rgba(30, 0, 30, 0.5);
    border-radius: 4px;
}
    #right #avatar-container{
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 90px;
        height: 90px;
        text-align: center;
        border-radius: 50%;
        border:5px solid rgba(172, 172, 172, 0.54);
        box-shadow: 0 0 3px 8px rgba(134, 139, 148, 0.5);
        background-color: white;
    }
    #right .list-group{
        padding: .5rem ;
    }
        #right .list-item{
            border-radius: 4px;
            padding: 6px 10px !important;
            margin-bottom: 10px;
            font-size: 14px !important;
            font-weight: 300 !important;
            color: #6c7077 !important;
            border: 1px solid #dbdbdb;
        }
        #right .list-item:hover{
            background-color: white !important;
            color:black !important;
            border-color: #a5a5a5;
            transition-duration: 0.1s;
            font-weight: 400 !important;
        }
        #right .list-item.active, .btn-3:hover{
            color:white !important;
            background: linear-gradient(60deg, #48075a, #8621b0) !important;
            box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.6);
            border-color: transparent;
        }
            #right .list-item .badge{
                margin-right: 6px !important;
                background-color: transparent;
                color:#000000;
                font-weight: 200;
            }
            #right .list-item.active .badge{
                color:#ffffff;
            }

/*******************************************************************************************************/

@media (max-width:992px){
    #topbar{
        position: fixed;
        width: 100%;
    }
    #right{
        position: relative;
        min-height: auto;
        width: 90%;
        margin: 5px auto;
        margin-top: 40px;
        background-color: white;
    }
        #right .list-group{
         padding-right: .5rem;
     }
            #right .list-item:hover{
                background-color: #e7e5f7 !important;
            }
    #left{
        width: 90%;
        padding: 40px !important;
        margin: 70px 25px !important;
    }
    #left label{
        margin: .5rem;
    }

    .tbl-scroll{
        min-width: 768px;
        overflow: scroll;
    }
    #main-container{
        overflow: scroll;
    }
    #show-cats{
        width: 200px !important;
        margin-left: 60px !important;
        /*padding-left: -60px !important;*/
    }
}
@media (min-width:1380px){
    #right .list-item{
        font-size: 18px !important;
        padding: 10px !important;
    }
}
@media (min-width:1600px){
    #right{
        margin-left: 20px;
        margin-right: 20px;
    }
    #right .list-item{
        font-size: 20px !important;
    }
}

/************************************************   dashboard   *****************************************/

#dashboard , #profile{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.main-outer{
    cursor: pointer;
    border-radius: 3px;
    padding: 4px;
    padding-top: 30px;
    margin-bottom: 40px;
}
.main{
    width: 240px;
}
.main-inner-frame{
    position: relative;
    padding: 4px;
}
.main-title{
    font-family: bhoma;
    position: absolute;
    z-index: 100;
    top:-20px;
    left: 20px;
    width: 200px;
    text-align: center;
    background:linear-gradient(45deg,#9ea1ff, #8893ff) ;
    border-radius: 4px;
    box-shadow:  0 0px 15px -5px rgb(33, 33, 33);
    padding: 8px 40px;
    font-weight: 200;
    font-size: 18px;
    color:#ffffff;
}
.main-title-p{
    display: inline;
    margin-right: -5px;
}
.main-content{
    transition-duration:.3s;
    background-color: #f9f9f9;
    padding: 20px;
    padding-top: 40px;
    border-radius: 8px;
    box-shadow: inset 0 0 2px 0 rgb(205, 178, 255);
    text-align: center;
    line-height: 2.5;
    font-weight: 400;
}
.main-content:hover{
    box-shadow: inset 0 0 2px 0 rgb(160, 118, 255);
}
#show-posts-table-container{
    margin:0 10px !important;
    max-height: 500px !important;
    overflow-y: scroll;
}
#upload-photo-post{
    height: 64px;
    margin: 12px ;
    padding: 10px;
    border: 2px dashed #e0e0e0;
    border-radius: 4px;
    background-color: white;
    color: lightgrey;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

/****************************************************  card-3  *******************************************/

.card-3 {
    margin:30px 15px;
    width: 240px;
    box-shadow: 0 10px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 14px;
    min-height: 190px;
    border-radius: 4px;
}
.card-3 .card-header {
    padding: 10px;
}
.card-3-baner {
    margin-top: -36px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px;
    padding-right: 15px;
    padding-top: 13px;
    width: 80px;
    height: 80px;
    font-size: 18px;
    font-weight: 700;
    float: left;
}
.devider{
    width: 90%;
    padding: 0;
    text-align: center;
    margin: auto;
    padding-right: 20px;
    color: grey;
    margin: 0 !important;
}
.card-3-title {
    color: #00adef;
}
.card-3-footer {
    padding: 5px 20px;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: #a1a5a7;
}
.card-3-description {
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
}
.header-purple{
    background: linear-gradient(45deg, #dd5bff, #a142b9);
}
.header-blue{
    background: linear-gradient(45deg, #17c8dd, #2192b9);
}
.header-red{
    background: linear-gradient(45deg, #ff5a64, #b94248);
}
.header-green{
    background: linear-gradient(45deg, #73ff3c, #54b92c);
}
.title-purple{
    color: #dd5bff;
}
.title-blue{
    color: #1db5dd;
}
.title-red{
    color: #b94248;
}
.title-green{
    color: #54b92c;
}

/************************************************   custom modal   *****************************************/

.modal-dialog{
    margin: auto !important;
}
.modal-title {
    padding: 2px !important;
    padding-top:40px;
    text-align: center;
    font-size: 14px !important;
    font-weight: 400;
    color: #515151;
}
.modal-body {
    padding: 10px;
}
.modal-dialog {
    margin: 10px;
    margin-top: 40px !important;
}
.d-block{
    display: block;
}
#your-posts-modal .modal-content{
    font-size: 13px !important;
}
th{
     color: #003a74 !important;
     font-weight: 600 !important;
     font-size: 13px !important;
     font-family: bhoma;
 }
.avatar-sm{
    width: 34px;
    height:33px;
    border-radius: 50%;
}

/*----------------------------------------------  waiting spinner  ------------------------------------------*/

#spinner {
    position: absolute;
    left: 38%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 300px auto;
    border: 4px solid #e0dcdc;
    border-right: 4px solid rgb(66, 233, 57);
    border-left: 4px solid rgb(66, 233, 57);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    -webkit-animation: loading 1s linear infinite;
    -moz-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
@-moz-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
@keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

/*------------------------------------------------  multimedia  ------------------------------------------*/

#draggable-area{
    border: 1px dashed lightgrey;
    border-radius: 6px;
    background-color: white;
    color: #b4b4b4;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    cursor:crosshair;
}
#drag-text{
    text-align: center;
    line-height: 100px;
}
#img-container{
    padding:15px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.img-frame{
    width: 144px;
    height: 144px;
    margin: 6px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    padding: 2px;
}
.img-pic-container{
    position: relative;
    overflow: hidden;
}
img.pic-preview{
    width: 138px;
    height: 138px;
    border-radius: 4px;
}
.img-overlay{
    position: absolute;
    top:140px;
    right:0;
    bottom:0;
    padding: 10px 50px;
    background-color: rgba(27, 28, 28, 0.7);
    transition-duration: .4s;
    border-radius: 4px;
}
.img-frame:hover .img-overlay{
    top: 0;
}
.overlay-item{
    font-family: bhoma;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: .4s;
    cursor: pointer;
}
.overlay-item:hover{
    color:#ffffff !important;
    background-color: rgb(81, 81, 81);
}

/*--------------------------------------------- popup-box ----------------------------------------------------*/

#popup-box-c{
     position: fixed;
     z-index: 100000;
     display: none;
     bottom:20px;
     right:20px;
     line-height: 50px;
     background-color: #ffffff;
     font-size:13px !important;
     padding: 0 10px;
     box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.71) !important;
     border-radius: 6px;
 }
.popup-right{
    text-align: center;
    font-size:13px !important;
    float: right;
    padding: 10px;
    line-height: 20px;
    color: #999797;
}
#popup-msg{
    display: inline;
    margin-right: 10px;
}
.border-lr-green{
    border: 1px solid lightgrey;
    border-right: 4px solid #00ff00;
    border-left: 4px solid #00ff00;
}
.border-lr-red{
    border: 1px solid lightgrey;
    border-right: 4px solid #ff385d;
    border-left: 4px solid #ff385d;
}