
/*------------------------------------------------ public ------------------------------------------------------------------------------------------------*/

/* scroll bar */
::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
    background: rgb(239, 235, 230);

}
::-webkit-scrollbar-track {
    border: inset 1px rgba(194, 191, 232,.2);
}
::-webkit-scrollbar-thumb {
    /*box-shadow: inset 0 0 8px rgb(188, 155, 188);*/
    background: rgb(182, 182, 185);
}

/* ck editor */
.ck-content, .ck-content *{
    direction: rtl !important;
}
.b-homa{
    font-family: bhoma !important;
    font-size: 18px !important;
    color: #797979;
}

/* public */
body{
    /*background: url("../includes/images/43.jpg") no-repeat fixed;*/
    background-color: #e5e6e6;
    background-size: cover;
    position: relative;
}
body:before{
    /*content: '';*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    height: auto;
}
a {
    color: black;
}
p{
    margin-bottom: 0 !important;
}
.d-block{
    display: block;
}
.text-vvsm{
    font-size: 11px !important;
}
.text-v-light{
    color: #5b5b5b !important;
    font-weight: 200;
}
.pt-6{
    padding-top: 4rem !important;
}
i{
    padding-left: .5rem;
}
a:hover{
    text-decoration: none;
}
.btn-3{
    font-size: 11px !important;
    font-weight: 500;
    border-radius: 4px;
    padding: 0 10px;
    color:white !important;
    transition-duration: .3s;
}
.btn-3:hover{
        /*background-color: #a35bf0;*/
    }
.scroll{
    overflow: scroll;
    min-width: 360px;
}
.tbl-scroll{
    overflow: scroll;
}
.min-150{
    min-width: 150px !important;
}
.min-80{
    min-width: 80px !important;
}
.min-190{
    min-width: 190px !important;
}
.btn-outline-lightgrey{
    color: #bababa !important;
    border: 1px solid #c1c1c1 !important;
    background-color: white;
    transition: .2s ease all;
}
.btn-outline-lightgrey:hover{
    color: white !important;
    /*border: 1px solid #c1c1c1 !important;*/
    background-color: #7a7a7a;
}
#bio{
    min-height: 180px;
}
.tbl-small{
    font-size: 12px !important;
    font-weight: 200 !important;
}
.tbl-small a{
    font-size: 11px !important;
    font-weight: 500 !important;
    border-color: gray;
    color:rgb(97, 93, 93);
}
.tbl-small td{
    padding: 6px;
}
.btn-vsm{
    font-size: 11px !important;
    font-weight: 500 !important;
    padding: 2px 4px !important;
    margin-bottom: 1px !important;
}
.list-item.active {
    border-color: lightgrey;
}
.margin-auto{
    margin: 10px auto !important;
}
ul.pagination a{
    color: grey ;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #bbccdb;
    border-color: #9dabb8;
}
.page-item.disabled .page-link {
    color: #d0d0d0 !important;
}
.overflow-scroll-x{
    overflow-x: scroll;
    /*padding-right: 8px;*/
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}
.overflow-scroll{
    overflow-y: scroll;
}
.avatar-img{
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width:100%;
    height:100%;
    border-radius: 50%;
}
.success-res{
    padding: 5px;
    padding-right: 20px;
    box-shadow: 0 15px 20px -15px #666363;
    margin: 35px 0 !important;
    text-align: right;
    background-color:white;
    border-right: 6px solid #4ab142;
    animation: change_back_green 3s linear 3;
}
.failure-res{
    padding: 5px;
    padding-right: 20px;
    box-shadow: 0 15px 20px -15px #858181;
    margin: 35px 0 !important;
    text-align: right;
    background-color:white;
    border-right: 6px solid #c74d4d;
    animation: change_back_red 3s linear 3;
}
.btn-outline-secondary-2{
    color: #ababab;
    border-color: #d6d6d6;
    font-size: 13px;
}
.btn-outline-secondary-2:hover{
    color: #fff;
    background-color: #17a2b8;
}
th{
    color: #003a74 !important;
    font-weight: 900 !important;
    font-size: 12px !important;
}

/* key frames */
@keyframes change_back_purple {
    from {
        background-color: #ffffff;
    }
    40% {
        background-color: #ead8f5;
    }
    50% {
        background-color: #ead8f5;
    }
    to {
        background-color: #ffffff;
    }
}
@keyframes change_back_red {
    from {
        background-color: #ffffff;
    }
    40% {
        background-color: #f5c1c1;
    }
    50% {
        background-color: #f5c1c1;
    }
    to {
        background-color: #ffffff;
    }
}
@keyframes change_back_green {
    from {
        background-color: #ffffff;
    }
    33% {
        background-color: #bbfab6;
    }
    66% {
        background-color: #bbfab6;
    }
    to {
        background-color: #ffffff;
    }
}

/* card effect */
.card-3 {
    margin: 30px 15px;
    width: 240px;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.4);
    background-color: #f8f8f8;
    padding: 14px;
    min-height: 190px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.card-3 .card-header {
    padding: 10px;
}
.card-3-baner {
    margin-top: -36px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px;
    padding-right: 15px;
    padding-top: 13px;
    width: 80px;
    height: 80px;
    font-size: 18px;
    font-weight: 900;
    float: left;
    box-shadow: 0px -10px 15px -9px rgba(0, 0, 0, 0.2);
}
.devider{
    width: 90%;
    padding: 0;
    text-align: center;
    margin: auto;
    padding-right: 20px;
    color: grey;
    margin: 0 !important;
}
.card-3-title {
    color: #00adef;
}
.card-3-footer {
    padding: 5px 20px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    color: #a1a5a7;
}
.card-3-description {
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
}
.header-purple{
    background: linear-gradient(45deg, #763088, #dd5bff);
}
.header-blue{
    background: linear-gradient(45deg, #176883, #1be6ff);
}
.header-red{
    background: linear-gradient(45deg, #b90007, #ffaaa9);
}
.header-green{
    background: linear-gradient(45deg, #50b02a, #8dff5c);
}
.header-gold{
    background: linear-gradient(45deg, #96931e, #fffa30);
}
.header-aqua{
    background: linear-gradient(45deg, #008368, #00ffcb);
}
.title-purple{
    color: #dd5bff;
}
.title-blue{
    color: #1db5dd;
}
.title-red{
    color: #b94248;
}
.title-green{
    color: #54b92c;
}
.title-gold{
    color: #c4c025;
}
.title-aqua{
    color: #00d6aa;
}

/* tiny btns */
.tiny-btns {
    padding: 0 !important;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid rgba(195, 185, 214, 0);
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 0 11px 0 #dadada;
}
.tiny-btns li a {
    color: #aeaeae !important;
    border: 0px !important;
    font-weight: 900;
}
.tiny-btns li a.active {
    color: #574780 !important;
    background-color: rgba(173, 143, 255, 0.2) !important;
}
.tiny-btns li:hover a {
    color: #000000 !important;
}

/*--------------------------------------------------   body   ------------------------------------------------------------------------------------------------*/

#body{
    padding: 0 !important;
}
#topbar{
    position: fixed;
    right:0;
    top:0;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px 16px;
    font-weight: 200;
    font-size: 12px;
    color: white;
    background-color: rgb(72, 7, 90);
}
#main{
    position: relative;
    margin-right: 185px;
    margin-top: 32px;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px lightgrey;
    font-size: 14px;
    min-height: 110vh;
}

#right{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    width: 185px;
    min-height: 100vh;
    padding: 4px;
    padding-top: 30px;
    background-color: #f3f3f3;
    box-shadow: 0 0 28px -13px rgba(30, 0, 30, 0.7);
    user-select: none !important;
}
#right #avatar-container{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    border:5px solid rgba(172, 172, 172, 0.54);
    box-shadow: 0 0 3px 8px rgba(134, 139, 148, 0.5);
    background-color: white;
}
#right .list-group{
    padding: .5rem ;
}
#right .list-item{
    border-radius: 4px;
    padding: 4px 10px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #8c919a;
    border: 1px solid #bbbbbb;
    transition: .2s ease all;
}
#right .list-item:hover{
    background-color: white !important;
    color:black !important;
    border-color: #a5a5a5;
}
#right .list-item.active, .btn-3:hover{
    color: white !important;
    background: linear-gradient(60deg, #48075a, #8621b0) !important;
    box-shadow: 0 6px 14px -7px rgba(0, 0, 0, 0.6);
    border-color: transparent;
}
#right .list-item .badge{
    margin-right: 6px !important;
    border-radius: 50%;
    color: #420a54;
}
#right .list-item.active .badge{
    color:#ffffff;
}

@media (min-width:1380px){
    #topbar{
        font-size: 15px;
    }
    #right .list-item{
        font-size: 16px !important;
        padding: 10px !important;
    }
}
@media (min-width:1600px){
    #topbar{
        font-size: 17px;
    }
    #right .list-item{
        font-size: 19px !important;
    }
}

/*-------------------------------------------------  dashboard   ------------------------------------------------------------------------------------------------*/

.main-outer{
    cursor: pointer;
    border-radius: 3px;
    padding: 4px;
    padding-top: 30px;
    margin-bottom: 40px;
}
.main{
    width: 240px;
}
.main-inner-frame{
    position: relative;
    padding: 4px;
}
.main-title{
    position: absolute;
    z-index: 100;
    top: -20px;
    left: 20px;
    width: 200px;
    text-align: center;
    background: linear-gradient(45deg,#9ea1ff, #8893ff) ;
    border-radius: 4px;
    box-shadow: 0 0px 15px -5px rgb(33, 33, 33);
    padding: 8px 40px;
    font-weight: 200;
    font-size: 18px;
    color: #ffffff;
}
.main-title-p{
    display: inline;
    margin-right: -5px;
}
.main-content{
    transition-duration:.3s;
    background-color: #f9f9f9;
    padding: 20px;
    padding-top: 40px;
    border-radius: 8px;
    box-shadow: inset 0 0 2px 0 rgb(205, 178, 255);
    text-align: center;
    line-height: 2.5;
    font-weight: 500;
}
.main-content:hover{
    box-shadow: inset 0 0 2px 0 rgb(160, 118, 255);
}

#show-posts-table-container{
    margin:0 10px !important;
    max-height: 500px !important;
    overflow-y: scroll;
}

/*-------------------------------------------------   new post   ------------------------------------------------------------------------------------------------*/

#new-post, #categories-page{
    border-radius: 5px 5px 0 0;
    margin-left: -30px !important;
}
.new-post-right{
    /*padding: 14px;*/
    padding-left: 30px;
}
.new-post-left{
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    min-height: 120vh;
    /*box-shadow: 0 0 1px 0px rgba(30, 0, 30, 0.4);*/
    background-color: rgb(250, 250, 250);
}
.new-post-left-part{
    user-select: none !important;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #d9d9d9;
    min-height: 100px;
    margin-bottom: 40px;
    border-radius: 3px;
}

.n-p-l-title{
    padding : 5px;
    padding-right: 10px;
    color: #723da3;
    font-size: 12px !important;
    font-weight: 500;
    background-color: #fff;
}
.n-p-l-title i{
    padding-top: 6px;
    color: #8013a4;
}
.n-p-l-body{
    padding: 5px;
    font-size: 13px;
}

#post-img-upload-box{
    direction: ltr;
    text-align: center;
    height: 160px;
    width: 100%;
    margin: 0px;
    margin-bottom: -6px;
    padding: 10px;
    border: 2px dashed #e0e0e0;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: lightgrey;
    font-weight: 500;
    font-size: 13px;
    overflow: hidden;
}
#post-img-upload-box img{
    height: 160px;
    width: 100%;
    margin: -10px;
}

.btn-upload{
    color: #ffffff !important;
    font-size: 14px;
    background-color: #17a2b8;
    border-radius: 4px;
    padding: 0px 16px;
    cursor: pointer;
    line-height: 34px;
    transition-duration: .2s;
}
.btn-upload:hover{
    background-color: #388182;
}
#post-img-upload-i{
    margin-right: 6px;
    padding-top: 5px;
}
#pic-res-i{
    padding: 5px;
    display: block;
}
#post-img-upload-box ,#pic-res-text{
    display: inline-block;
    z-index: 10000;
    font-size: 13px;
}
.post-img-upload-box{
    color: grey;
    transition: 1.5s ease all;
}
.processing-spinner{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    border-right: 3px solid rgb(56, 129, 130);
    border-left: 3px solid rgb(56, 129, 130);
    animation: loading .5s linear infinite;
}
.processing-spinner#pic-res-i{
    margin: 15px auto;
    transition: 1.5s ease all;
}

#cats-container label, #tags-container label{
    display: block !important;
}
.shifttoleft1, .shifttoleft2, .shifttoleft3, .shifttoleft4, .shifttoleft5, .shifttoleft-tag{
    padding-right: 30px !important;
    transition-duration:.2s !important;
}

.shifttoleft1:hover, .shifttoleft2:hover, .shifttoleft3:hover, .shifttoleft4:hover, .shifttoleft5:hover, .shifttoleft-tag:hover{
    background-color: rgba(71, 163, 164, 0.2);
}
.shifttoleft1{
    background-color: rgba(133, 133, 133, 0.1);
    border-right: 3px solid #47a3a4;
}
.shifttoleft2{
    margin-right: 20px;
}
.shifttoleft3{
    font-size: 13px;
    margin-right: 40px;
}
.shifttoleft4{
    font-size: 12px;
    margin-right: 60px;
}
.shifttoleft5{
    font-size: 12px;
    margin-right: 100px;
}
ul{
    list-style-type: none;
    text-align: right;
}
#categories option{
    font-size: 11px !important;
    font-weight: 500;
}
.input-create-category{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-right: 3px solid #17a2b8 !important;
    font-size: 12px !important;
    background-color: rgb(245, 250, 250);
    transition: .3s ease all;
}
.input-create-category:focus{
    background-color: whitesmoke;
}

#new-post #title{
    font-size:14px;
    font-weight:500;
    margin-right:10px;
    padding:0px 20px;
    border-radius: 4px;
}

#btn-fake-upload{
    width: 160px !important;
}

/*----------------------------------------------   show posts   ------------------------------------------------------------------------------------------------*/

.tbl_show_posts {
    text-align: center;
    font-size: 12px !important;
    font-weight: 400;
    margin-bottom: 30px;
    border: 1px solid #e6e6e6;
    margin-bottom: 0;
}
.tbl_show_posts tr {
    height: 34px !important;
    line-height: 1.3;
}
.tbl_show_posts tr td {
    padding-bottom: 4px;
}
.tbl_show_posts tr:nth-of-type(2n+1) {
    background-color: rgba(246, 246, 246, 1);
    border-right: inset 2px transparent;
    border-left: inset 2px transparent;
}
.tbl_show_posts tr:nth-of-type(2n) {
    background-color: white;
}
.tbl_show_posts thead tr:first-child {
    border-bottom: 2px solid rgba(133, 138, 141, 0.3);
    background-color: white !important;
}
.tbl_show_posts thead th {
    color: rgb(85, 81, 81) !important;
    font-weight: 500 !important;
}
.tbl_show_posts tr:hover {
    background-color: rgb(228, 234, 252);
}
.tbl_show_posts thead tr:first-child:hover {
    background-color: rgb(242, 245, 247);
    transition: .2s ease background-color;
}
.tbl_show_posts i:hover {
    color: #0085b8 !important;
}

/*----------------------------------------------   custom modal   ------------------------------------------------------------------------------------------------*/

.modal-dialog{
    margin: auto !important;
}
.modal-title {
    padding: 2px !important;
    padding-top:40px;
    text-align: center;
    font-size: 14px !important;
    font-weight: 500;
    color: #515151;
}
.modal-body {
    padding: 10px;
}
.modal-dialog {
    margin: 10px;
    margin-top: 40px !important;
}
#your-posts-modal .modal-content{
    font-size: 13px !important;
}
.avatar-sm{
    width: 34px;
    height:33px;
    border-radius: 50%;
}

/*----------------------------------------------  waiting spinner  ------------------------------------------------------------------------------------------*/

#spinner {
    position: absolute;
    left: 38%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 300px auto;
    border: 4px solid #e0dcdc;
    border-right: 4px solid rgb(66, 233, 57);
    border-left: 4px solid rgb(66, 233, 57);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    -webkit-animation: loading 1s linear infinite;
    -moz-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
@-moz-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
@keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

/*------------------------------------------------  multimedia  ------------------------------------------------------------------------------------------*/

#draggable-area{
    border: 2px solid #ededed;
    box-shadow: 0 0 10px 0 #d9d9d9;
    border-radius: 6px;
    background-color: white;
    color: #b4b4b4;
    cursor: crosshair;
    margin-bottom: 15px;
}
#upload_pic_i{
    margin-top: 15px;
}
#upload_pic_text{
    display: inline-block;
    z-index: 10000;
    font-size: 14px;
    line-height: 4 !important;
}
#upload_pic_fake{
    line-height: 3 !important;
    height: 40px;
    margin: 8px;
}
.processing-spinner-sm{
    /*line-height: 5 !important;*/
    padding-top: 8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
    border-right: 3px solid rgb(56, 129, 130);
    border-left: 3px solid rgb(56, 129, 130);
    animation: loading 1s linear infinite;
}
.processing-spinner-sm#pic-res-i{
    margin: 15px auto;
    transition: 1.5s ease all;
}


#drag-text{
    text-align: center;
    line-height: 100px;
}
#img-container{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    border: 2px solid #ededed;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.img-frame{
    width: 104px;
    height: 104px;
    margin: 6px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    padding: 2px;
}
.img-pic-container{
    position: relative;
    overflow: hidden;
}
img.pic-preview{
    width: 98px;
    height: 98px;
    border-radius: 4px;
}
.img-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 140px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 3px 30px;
    background-color: rgba(27, 28, 28, 0.7);
    transition-duration: .4s;
    border-radius: 4px;
}
.img-frame:hover .img-overlay{
    top: 0;
}
.overlay-item{
    cursor: pointer;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 200;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 3px 2px !important;
    line-height: 1.4;
}
.overlay-item:hover{
    border-color: whitesmoke;
    color: black;
    background-color: white;
}

/*------------------------------------------------- comments ----------------------------------------------------------------------------------------------------*/

.com-frame{
    border-right: 3px solid rgb(70, 180, 166);
    margin-bottom: 30px;
    box-shadow: 0 0 1px 0 rgb(168, 163, 163);
}
.com-frame i{
    color: #503773 !important;
}

.com-header{
    display: flex;
    justify-content: space-between;
    color: #5b5b5b;
    padding: 8px 20px;
    background-color: #f5f5f5;
 }
.com-body{
    text-align: justify;
    font-weight: 500;
}
.com-footer{
    background-color: #fff;
    padding: 10px;
}

.com-rep-part{
    padding: 16px;
    background-color: #fafafa;
    border-right: 2px solid lightgray;
    margin: 22px;
    margin-bottom: 0;
    color:grey;
}

.btn-com{
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px 0 rgb(187, 185, 185);
    background-color: transparent;
    border-bottom: 2px solid transparent;
}
.btn-com:hover {
    color: whitesmoke;
    box-shadow: 0 0 1px 3px #d1d1d1;
}



/*------------------------------------------------- popup-box ----------------------------------------------------------------------------------------------------*/

#popup-box-c{
     position: fixed;
     z-index: 100000;
     display: none;
     bottom:20px;
     right:20px;
     line-height: 50px;
     background-color: #ffffff;
     font-size:13px !important;
     padding: 0 10px;
     box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.71) !important;
     border-radius: 6px;
 }
.popup-right{
    text-align: center;
    font-size:13px !important;
    float: right;
    padding: 10px;
    line-height: 20px;
    color: #999797;
}
#popup-msg{
    display: inline;
    margin-right: 10px;
}
.border-lr-green{
    border: 1px solid lightgrey;
    border-right: 4px solid #00ff00;
    border-left: 4px solid #00ff00;
}
.border-lr-red{
    border: 1px solid lightgrey;
    border-right: 4px solid #ff385d;
    border-left: 4px solid #ff385d;
}